<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<% if (entries) { %>
		<% entries.forEach(function(entry) { %>
		<div class='entry'>
			<h3><%= entry.title %></h3>
			<p><%= entry.body %></p>
			<p>Posted by <%= entry.email %></p>
		</div>
		<% }) %>
	<% } else { %>
		<h2>There are no entries in the shoutbox</h2>
	<% } %>
</body>
</html>