<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3><%= message %></h3>
    <p>Fill in the form below to add a new post.</p>
    <form action='/post' method='post'>
      <p>
        <input type='text' name='email' placeholder='E-Mail' />
      </p>
      <p>
        <input type='text' name='title' placeholder='Title' />
      </p>
      <p>
        <textarea name='message' placeholder='Message'></textarea>
      </p>
      <p>
        <input type='submit' value='Post' />
      </p>
    </form>
  </body>
</html>
