<entries>
<% entries.forEach(function(entry){ %>
  <entry>
    <title><%= entry.title %></title>
    <body><%= entry.body %></body>
    <email><%= entry.email %></email>
  </entry>
<% }) %>
</entries>
